NEXT_PUBLIC_SUPABASE_URL=https://zwlvnfwbonidrhretzat.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
MPESA_ENVIRONMENT=development
MPESA_API_KEY=
MPESA_PUBLIC_KEY=
MPESA_SERVICE_PROVIDER_CODE=
